# Using Beautiful soup
First we import the beautifulsoup library

In [2]:
import os
import pandas as pd
from bs4 import BeautifulSoup

Next we make the soup, by passing the path to the HTML file into a file handle, then passing that file handler into the BeautifulSoup constructor along with a parser.

In [11]:
#list of dictionaris to build file and later convert to a dataframe
df_list = []
folder = r'C:\Users\user\Downloads\rt-html\rt_html'
for movies_html in os.listdir(folder):    
    with open(os.path.join(folder, movies_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div',class_='audience-score meter').find('span').contents[0].strip().replace('%','')
        num_audience_ratings = soup.find('div',class_='audience-info hidden-xs superPageFontColor')
        num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(',','')
        
        #append to list of dictionaries
        df_list.append({'title': title,
                       'audience_score': int(audience_score),
                       'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title','audience_score','number_of_audience_ratings'])
df

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,The 39 Steps (1935),86,23647
2,The Adventures of Robin Hood (1938),89,33584
3,All About Eve (1950),94,44564
4,All Quiet on the Western Front (1930),89,17768
...,...,...,...
95,Up (2009),90,1201878
96,Vertigo (1958),93,101454
97,The Wages of Fear (1953),95,8536
98,Wonder Woman (2017),90,112955
99,Zootopia (2016),92,98633